body {
	font-family: 'Montserrat', sans-serif;
	background: #808080;
}

header{
	padding: 20px 0;
}

.titulo-pagina{

	width: 940px;
	padding:0px;
	margin: 0 auto;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	padding: 1em 0;
}


.form{
	padding: 20px;
	text-align: center;
}

.menu{
	width: 940px;
	padding: 0;
	margin: 1em auto;
}

.menu ul {
	padding:0px;
	margin:0px;
	float: left;
	width: 100%;
	background-color:#EDEDED;
	list-style:none;
	font:80% Tahoma;
}

.menu ul li { display: inline; }

.menu ul li a {
	font-size: 16px;
	background-color:#EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
	padding: 2px 10px;
	float:left;
}

.menu ul li a:hover {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #EA0000;
}

.form{
	width: 940px;
	padding: 1em;
	margin: 2em auto;
}

.input-padrao{
	display: block;
	margin: 1em auto;
	padding: 15px 15px;
	width: 25%;
}

.label{
	display: block;
	margin: 1em auto;
	font-size: 20px;
	font-weight: bold;
}

.fieldset-select {
	display: block;
	margin: 0 auto;
	padding: 15px 15px;
	width: 20%;
}

.copyright{
	padding: 30em 0;
	text-align: center;
}

.salvar{
	width: 20%;
	padding: 15px 0;
	background: green;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.salvar:hover{
	background:darkgreen;
	transform: scale(1.2);
}
